@{
    ViewData["Title"] = "Home Page";
}



@if (User.Identity.IsAuthenticated)
{
    <h5>You are logged in.</h5>
}
else
{
<h5>
    You are not logged in. Please log in or @Html.ActionLink("Create an account", "Create", "User")
</h5>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="unsplash-images"  src="https://www.sporcle.com/blog/wp-content/uploads/2018/10/1-48.jpg" alt="Trivia" />
</div>


