@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br>
<div class="text-center">
    <h5>Don't worry, your information is safe with us. Mostly because we don't know how to use it...yet</h5>
    <div></div>
    <br>
    <img class="unsplash-images" src="https://static.makeuseof.com/wp-content/uploads/2017/08/protecting-privacy-linux-670x335.jpg" alt="Trivia" />
</div>