@model TriviaGameMVC.WebApp.Models.QuestionViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a Question</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId"
                        asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryString"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuestionString" class="control-label"></label>
                <input asp-for="QuestionString" class="form-control" />
                <span asp-validation-for="QuestionString" class="text-danger"></span>
            </div>
        <div class="form-group">
            <label asp-for="Value" class="control-label">Value</label>
            @Html.DropDownListFor(m => Model.Value, Enumerable.Range(10,1).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }))
        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

