@model TriviaGameMVC.WebApp.Models.PlayGameViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Let's Play</h1>
</div>

<head>
    <meta http-equiv="refresh" content="0; URL='http://1904-triviagame-asp-ng.azurewebsites.net/'" />
</head>

