@model TriviaGameMVC.WebApp.Models.PlayGameViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Let's Play!</h1>

<head>
    <meta http-equiv="refresh" content="0; URL='http://1904-triviagame-asp-ng.azurewebsites.net/'" />
</head>

